/*/////////// ABOUT CONTENT VIEW ///////////////*/

.about-container {

 /* styles added inline see animations.js */

}

.page-about {
  padding: 7% 10% 2% 10%;
  color: #fff;
  height: 100%;
  overflow: scroll;
}

.page-about h1 {
  font-weight: 700;
  font-size: 3.4em;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.page-about p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.05em;
}

.page-about p a {
  color: #b31ede;
  text-decoration: none;
  padding: 0 3px;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -ms-transition:all 0.2s;
  -o-transition:all 0.2s;
  transition:all 0.2s;
}

.page-about p a:hover {
  background-color: #361460;
  color: #ce24ff;
}

.about-me {
  position: relative;
  width: 60%;
  display: block;
  opacity: 1;
  padding:0;
  float: left;
  
}

.page-about:after {
  content:"";
  display:table;
  clear:both;
}


.about-right-col {
  float: left;
  width: 35%;
  margin-left: 5%;
  padding-top: 10px;
  opacity: 1;

}

#portrait-img {
  position: relative;
  width: 100%;
  max-width: 370px;
  display: block;
  margin: 0 auto;
}

.about-me.fade-up {
  opacity: 1;
  margin-top: 0;
}

.close-btn.about {
  position: absolute;
  right: 2%;
  top: 3%;
}

.about-right-col.ng-hide-add.ng-hide-add-active,
.about-right-col.ng-hide-remove.ng-hide-remove-active,
.about-me.ng-hide-add.ng-hide-add-active,
.about-me.ng-hide-remove.ng-hide-remove-active {
  -moz-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -o-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -webkit-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -ms-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
}

.about-right-col.ng-hide-remove.ng-hide-remove-active {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.about-me.ng-hide, .about-right-col.ng-hide {
  opacity: 0;
  padding-top: 20px;

}

.email-btn {
  position: relative;
  text-align: center;
  display: block;
  margin: 60px 0 0 0;
  z-index: 100;
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 60px;
}

.email-btn h4  {
  position: absolute;
  margin: 0;
  width: 292px;
  height: 40px;
  padding-top: 20px;
  font-family: netto_otbold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-left:8px;
  -moz-transition:all 0.6s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -o-transition:all 0.6s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -ms-transition:all 0.6s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -webkit-transition:all 0.6s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  transition:all 0.6s cubic-bezier( 0.6, 0.2, 0.1, 1 );
}


.email-btn:hover > h4 {
  letter-spacing: 11px;
  background-color: #fff;
  color: #23143e;
}

@media screen and (min-width: 1200px) and (max-width: 1580px) { 

.page-about {
  padding: 8%;
}

.page-about h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.page-about p {
  font-size: 1.2em;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.email-btn {
  margin-top: 40px;
}


}

@media screen and (min-width: 320px) and (max-width: 1199px) { 

.page-about {
  padding: 8%;
}

.page-about h1 {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.page-about p {
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.email-btn {
  margin-top: 30px;
}


}


