/*////////   LOADERS STYLES    ///////*/

.loading-overlay {
  width: 100%;
  height: 100%;
  background-color: #1a181b;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 1;
  
}

.loading-project-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  background: none;
  z-index: 9999;
  
}

.loading-content-container {
  position: relative;
  width: 100%;
  background: #f3f3f3;
  height: 1800px;
  margin: 0;
  padding: 0;
  z-index: 9999;
  
}

.loading-overlay.ng-animate, .loading-project-overlay.ng-animate {
  webkit-transition:all 1s;
  -moz-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;

}

.loading-graphics {
  position: absolute;
  width: 520px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -260px;
  text-align: center;
  opacity: 1;
}

.loading-content-container .loading-graphics {
  top: 5%;
}

.loading-graphics img {
  border: none;
  width: 90px;
  height: 90px;
  margin: 0 auto !important;
}

h3.loading-txt {
  font-family: netto_otregular;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 12px;
  color: #fff;
  margin-top: 30px;
}
h3.project-loading-txt {
  font-family: netto_otregular;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 12px;
  color: #ddd;
  margin-top: 15px;
}

.loading-graphics p {
  color: #821bc4;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 300;
}


.loading-overlay.ng-leave.ng-leave-active,
.loading-overlay.ng-enter {
  opacity: 0;
}
.loading-overlay.ng-leave,
.loading-overlay.ng-enter.ng-enter-active {
  opacity: 1;
}

/* NO WEBGL Message */

.no-webgl {
  position: relative;
  width: 520px;
  height: 500px;
  margin: 300px auto 0 auto;
  text-align: center;
  opacity: 1;
}

.no-webgl img {
  border: none;
  width: 37px;
  height: 62px;
  margin: 0 auto !important;
}

.no-webgl p , .graphics p {
   color: #821bc4;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.no-webgl p {
  text-align: left;
}

.no-webgl a , .loading-graphics a {
  color: #d47cff;
  text-decoration: none;
  font-weight: 300;
  webkit-transition:color 0.5s;
  -moz-transition:color 0.5s;
  -o-transition:color 0.5s;
  transition:color 0.5s;
}

.loading-graphics a:hover , .no-webgl a:hover {
  color: #eaeaea;
}

.no-webgl h3 {
  font-family: netto_otregular;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 10px;
  color: #fff;
  margin-top: 20px;
}

/* LOADING ANIMATION */

/*@-webkit-keyframes loading-spin {
  0%   { transform: rotateX(360deg) rotateY(360deg) }
  25%  { transform: rotateX(164deg) rotateY(115deg) perspective(200px); }
  75%  { transform: rotateX(270deg) rotateY(235deg) perspective(100px); } 
  100% { transform: rotateX(360deg) rotateY(360deg) perspective(100px); }
}
@-moz-keyframes loading-spin {
  0%   { transform: rotateX(0deg) rotateY(0deg); }
  50%  { transform: rotateX(164deg) rotateY(115deg); }
  100% { transform: rotateX(0deg) rotateY(0deg); }
}
@-o-keyframes loading-spin {
  0%   { transform: rotateX(0deg) rotateY(0deg); }
  50%  { transform: rotateX(164deg) rotateY(115deg); }
  100% { transform: rotateX(0deg) rotateY(0deg); }
}*/
/*@keyframes loading-spin {
  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg) perspective(1000px); }
  25%  { transform: rotateX(164deg) rotateY(115deg) rotateZ(45deg) perspective(500px); }
  75%  { transform: rotateX(270deg) rotateY(235deg) rotateZ(45deg) perspective(300px); } 
  100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(245deg) perspective(300px); }
}*/