.next-tile , .next-project {
  width: 80px;
  height: 200px;
  position: absolute;
  right:0;
  top: 50%;
  z-index: 5000;
  overflow: hidden;
  cursor: pointer;
  background: none;
  margin-top: -168px
}

.nextbg {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 200px;
  background-color: none;
  opacity: 0.5;
  background-repeat: no-repeat;
  -moz-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -o-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -ms-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -webkit-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );

}

.next-tile .nextbg {
   -moz-transform: translate(7px,0);
  -o-transform: translate(7px,0);
  -ms-transform: translate(7px,0);
  -webkit-transform: translate(7px,0); 
  transform: translate(7px,0);
}

.nextbg.bg-image-purple {

  background-image: url('/images/next_btn_bg_purple.png'); 

}

.nextbg.bg-image-blue {

  background-image: url('/images/next_btn_bg_blue.png'); 

}

.next-tile a , .next-project a {
  position: absolute;
  top: 112px;
  right: 18px;
  width: 16px;
  height: 32px;
  background: url('/images/next-arrow.png') no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -moz-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -o-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -ms-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -webkit-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
}

.next-tile:hover .nextbg {
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -webkit-transform: translate(0,0); 
  transform: translate(0,0);
  opacity: 1;

}

.next-tile:hover a , .next-project:hover a {
  right:12px;

}


.prev-tile , .prev-project {
  width: 80px;
  height: 200px;
  position: absolute;
  left:0;
  top: 50%;
  z-index: 5000;
  overflow: hidden;
  cursor: pointer;
  background: none;
  margin-top: -135px;
}

.prevbg {
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-color: none; 
  width: 80px;
  height: 200px;
  background-size: 100%;
  background-position: 0 0;
  opacity: 0.5;
/* */
  -moz-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -o-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -ms-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  -webkit-transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
  transition:all 0.5s cubic-bezier( 0.6, 0.2, 0.1, 1 );
}

.prevbg.bg-image-purple {

  background-image: url('/images/prev_btn_bg_purple.png'); 

}

.prevbg.bg-image-blue {

  background-image: url('/images/prev_btn_bg_blue.png'); 

}

.prev-tile a , .prev-project a {
  position: absolute;
  top: 78px;
  left: 18px;
  width: 16px;
  height: 32px;
  background: url('/images/prev-arrow.png') no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -moz-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -o-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -ms-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -webkit-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
}

.prev-tile .prevbg {
  -moz-transform: translate(-7px,0);
  -o-transform: translate(-7px,0);
  -ms-transform: translate(-7px,0);
  -webkit-transform: translate(-7px,0); 
  transform: translate(-7px,0);
}

.prev-tile:hover .prevbg {
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -webkit-transform: translate(0,0); 
  transform: translate(0,0);
  opacity: 1;
}

.prev-tile:hover a , .prev-project:hover a {
  left: 12px;
}

.next-project {
  position: fixed;
  right: -100px;
  -moz-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -o-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -ms-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -webkit-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
}

.prev-project {
  position: fixed;
  left: -100px;
  -moz-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -o-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -ms-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  -webkit-transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
  transition:all cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0.5s;
}

.next-project:hover .nextbg {

  opacity: 1;

}

.prev-project:hover .prevbg {
  opacity: 1;
}

.next-project-in {
  right: 0;
}

.prev-project-in {
  left: 0;
}


@media screen and (min-width: 481px) and (max-width: 1099px) {

  .nextbg , .prevbg {
    width: 60px;
    height: 152px;
    background-size: 100%;
  }


  .next-project , .next-tile {
    width: 60px;
    height: 152px;
    margin-top: -100px
  }

  .next-project a , .next-tile a {
    top: 72px;
    right: 20px;
    width: 12px;
    height: 34px;
    background-position: -4px 0;
   
  }

  .next-project:hover a ,.next-tile:hover a {
    right: 14px;
  }

  .prev-project , .prev-tile{
    width: 68px;
    height: 152px;
    margin-top: -80px
  }


  .prev-project a , .prev-tile a {
    top: 50px;
    left: 22px;
    width: 12px;
    height: 34px;
  }

  .prev-project:hover a {
    left:14px;
  }


}

@media screen and (min-width: 1px) and (max-width: 480px) {

  .nextbg , .prevbg {
    width: 40px;
    height: 100px;
    background-size: 100%;
    opacity: 1;
  }


  .next-project , .next-tile {
    width: 40px;
    height: 100px;
    margin-top: -50px
  }

  .next-project a , .next-tile a {
    top: 44px;
    right: 10px;
    width: 8px;
    height: 34px;
    background-position: -8px 0;
   
  }

  .next-project:hover a ,.next-tile:hover a {
    right: 10px;
  }

  .prev-project , .prev-tile{
    width: 40px;
    height: 100px;
    margin-top: -36px
  }


  .prev-project a , .prev-tile a {
    top: 30px;
    left: 10px;
    width: 8px;
    height: 34px;
  }

  .prev-project:hover a {
    left:10px;
  }


}
