@media screen and (min-width: 480px) and (max-width: 768px), screen and (min-width: 480px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {


/* THREE INTERFACE */

.brand {
  width: 64%;
  left: 18%;

}


/* PROJECT VIEW */

.hero-image-container {
	height: 280px;
  background-size: 120% auto;
  background-position: 0 0 0 -10%;
}

.project-title {
  width: 86%;
  top: 100px;
  left:7%;
  
}

.project-title h1 {
  font-size:18px;
  letter-spacing: 6px;

}

.project-title h4 {
  font-size: 11px;
  letter-spacing: 4px;

}

.copy-content {
	min-height: 100px;
}


.intro {
  width: 100%;
  padding: 20px 0;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.article-single-col {
  font-size: 1em;
}

.copy-content p {
  width: 100%;

}



/* ABOUT VIEW */



}


@media screen and (min-width: 769px) and (max-width: 1099px) {


/* THREE INTERFACE */

.brand {
  width: 70%;
  left:15%;

}


/* PROJECT VIEW */


.hero-image-container {
	height: 400px;

}

.project-title {
  width: 86%;
  top: 130px;
  left:7%;
  
}

.project-title h1 {
  font-size:28px;
  letter-spacing: 6px;

}

.project-title h4 {
  font-size: 13px;
  letter-spacing: 6px;

}

.copy-content {
	min-height: 100px;
}


.intro {
  width: 100%;
  padding: 20px 0;
  font-size: 1.6em;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.article-single-col {

  font-size: 1.2em;

}

.copy-content p {
  width: 100%;
}

.media-content {
	
	width: 90%;
	
}

.nextbg {
  width: 68px;
  height: 236px;

}


.next-project {
  width: 72px;
  height: 168px;
  top: 6%;
}

.next-project a {
  top: 127px;
  right: 20px;
  width: 24px;
  height: 34px;
 
}


.prevbg {
  width: 72px;
  height: 168px;
  background-size: 100%;
}
.prev-project {
  width: 72px;
  height: 228px;
  top: 20%;
}


.prev-project a {
  top: 45px;
  left: 22px;
  width: 12px;
  height: 34px;
}

.prev-project:hover a {
  left:14px;
}




/* ABOUT VIEW */



}

@media screen and (min-width: 999px) and (max-width: 1099px) {

.brand {
  width: 50%;
  left: 25%;

}

}

@media screen and (min-width: 1100px) and (max-width: 1299px) {


/* THREE INTERFACE */


.brand {
 
  width: 50%;
  left: 25%;

}


/* PROJECT VIEW */

.hero-image-container {
	height: 500px;

}
.project-title {
  width: 86%;
  top: 190px;
  left:7%;
  padding:0;
  overflow: hidden;
  text-align: center;
  
}

.project-title h1 {
  font-size:32px;
  letter-spacing: 6px;

}

.project-title h4 {
  font-size: 13px;
  letter-spacing: 6px;

}






/* ABOUT VIEW */



}

@media screen and (min-width: 300px) and (max-width: 479px), screen and (min-width: 300px) and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2) {


/* THREE INTERFACE */

.brand {
  width: 64%;
  left: 18%;

}


/* PROJECT VIEW */

.hero-image-container {
  height: 240px;
  background-size: 130% auto;
  background-position: 0 0 0 -15%;

}

.project-title {
  width: 96%;
  top: 80px;
  left:2%;
  
}

.project-title h1 {
  font-size:18px;
  letter-spacing: 6px;

}

.project-title h4 {
  font-size: 11px;
  letter-spacing: 4px;

}

.copy-content {
  min-height: 100px;
}


.intro {
  width: 100%;
  padding: 20px 0;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.article-single-col {
  font-size: 1em;
}

.copy-content p {
  width: 100%;

}



/* ABOUT VIEW */



}

