<div class="no-webgl">
	<img src="/images/robot.png">
<h3 class="loading-txt">Oh bother!
</h3>
<p>My trusty robot has detected that your browser doesn't support WebGL. Damn and blast. If you are using Safari <a href="https://discussions.apple.com/thread/3300585?start=0" target="_blank">here's how to enable WebGL</a>. And <a href="http://caniuse.com/#feat=webgl" target="_blank">here's a list of all the browsers</a> that do support it (Google Chrome is by far the best one).</p>
<p>You can always <a href="https://uk.linkedin.com/pub/andrew-gillon/14/329/86" target="_self">find out about me</a> on LinkedIn, <a href="https://vimeo.com/user34095390" target="_self">see some of my motion graphics work</a> on Vimeo, or <a href="https://www.behance.net/gibbsy" target="_self">check out my portfolio</a> on Behance. Phew!</p>
</div>