<div class="close-btn about" ng-click="closeAbout()" ng-show="showAbout"></div>
<div class="about-right-col" ng-show="showAbout">
	<img id="portrait-img" src="/images/content/andy-portrait.jpg"/>
</div>
<div class="about-me" ng-show="showAbout">
<p>I'm a Digital Art Director, Designer and Creative Developer based in London. I love making things for the web, from coming up with a concept to crafting and polishing a design and then of course the buzz of seeing the finished product in action. My passion is for projects which combine beautiful, intelligent design with innovative technology.</p><p> I have over 12 years of experience and am comfortable leading projects, mentoring a team and presenting to clients. My skills include design and art direction for responsive websites and apps, motion graphics and animation and HTML5 web and app development.</p>
<p>
When I'm not working I'm a keen cyclist and filmgoer, and I like to have a laugh down the pub.
</p>
<p>I'm currently freelance and always keen to talk about new opportunities, so please feel free to get in touch.</p>
<p><a href="https://www.behance.net/gibbsy" target="_blank">Behance</a><a href="https://vimeo.com/user34095390/videos" target="_blank">Vimeo</a><a href="https://uk.linkedin.com/pub/andrew-gillon/14/329/86" target="_blank">Linkedin</a><a href="https://uk.linkedin.com/pub/andrew-gillon/14/329/86" target="_blank">Twitter</a></p>
<a href="mailto:aawgillon@gmail.com" class="email-btn">
        <h4>Email me</h4>
    </a>
</div>



