<div class="close-btn about" ng-click="closeAbout()"></div>
<div class="about-me" ng-show="showAbout">
<h1>That's Me. In a skirt.</h1>
<p>How's it going? I'm Andrew Gillon, a designer and developer based in London. I've been working in the digital world since 2003 and I specialise in creating engaging digital experiences and integrated campaigns for leading brands and agencies.</p>
<p>I'm primarily a designer but have been geeking out in my free time to push my coding skills from dabbler to dab-hand. I am now building websites and apps in HTML / CSS / Javascript, I produce motion graphics and animation in After Effects, and of course much of my time is still spent designing in Photoshop and Illustrator. I've even had to dust off Flash in recent months.</p>
<p>I'm currently freelance and looking for new projects. Accolades are great but most importantly I want to work with fun people who are committed to producing innovative, creative work that connects and excites people. For a bit more about me, check out my <a href="">Linkedin profile</a>, or for more examples of my motion work have a browse of my <a href="">Vimeo page</a></p>
<p>Or if you've seen enough and think we could work together, then what are you waiting for.. Get in touch!</p>
<a href="mailto:aawgillon@gmail.com" class="email-btn">
        <h4>Get in touch</h4>
    </a>
</div>
<div class="about-right-col" ng-show="showAbout">
	<img id="portrait-img" src="/images/content/andy-portrait.jpg"/>
</div>


