<div class="close-btn about" ng-click="closeAbout()" ng-show="showAbout"></div>
<div class="about-right-col" ng-show="showAbout">
	<img id="portrait-img" src="/images/content/andy-portrait.jpg"/>
</div>
<div class="about-me" ng-show="showAbout">
<h1>That's Me. In a skirt.</h1>
<p>Hello. How's it going? I'm Andrew Gillon, a passionate digital designer and creative developer based in London. I've been working in the interactive world since 2003 and I specialise in creating apps, websites and content for integrated campaigns.</p>
<p>I'm a designer first and foremost, but lately I've been geeking out in my free time to push my coding skills from dabbler to dab-hand. I am now building websites and apps in HTML / CSS / Javascript, I produce motion graphics and animation in After Effects, and of course much of my time is still spent designing in Photoshop and Illustrator. I've even had to dust off Flash in recent months.</p>
<p>I'm currently freelance and looking for new projects. For a bit more about me, check out my <a href="https://uk.linkedin.com/pub/andrew-gillon/14/329/86" target="_blank">Linkedin profile,</a> or view my <a href="https://www.behance.net/gibbsy" target="_blank">Behance portfolio,</a> or for motion work have a browse of my <a href="https://vimeo.com/user34095390/videos" target="_blank">Vimeo channel.</a></p>
<p>Drop me a line if you are interested in knowing more.</p>
<a href="mailto:aawgillon@gmail.com" class="email-btn">
        <h4>Get in touch</h4>
    </a>
</div>



